@model List<Messenger.Models.Users>

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Администратор</title>

    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/admin_style")
</head>
<body>

    <div class="container-fluid">
        <div class="top">
            <div class="row">

                <div class="col-2">
                    <p>Администратор</p>
                </div>
                <div class="col-1 offset-9">
                    <form method="get" action="/Login/Logout" target="_self">
                        <input type="submit" class="btn btn-secondary" value="Выйти">
                    </form>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-6 left-part">
                    <div class="users-list">
                        <div class="users-list-top">
                            <p>  Пользователи </p>
                            <button type="button" class="btn btn-default button button-add" id="button-add" onclick="form_adding()">+</button>
                        </div>
                        @foreach (var user in Model)
                        {

                            <div class="users-list-elem">
                                <div class="container">
                                    <div class="row centered-vertical">
                                        <div class="col-2">
                                            <button type="button" class="btn btn-default button button-delete" id="button-delete" onclick="DeleteUser(@user.Id)">Удалить</button>
                                        </div>
                                        <div class="col-3">
                                            <div class="inline-block-el" onclick="form_contacts(@user.Id)">
                                                <p class="username-in-panel">@user.UserName</p>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <input type="text" class="inline-block-el form-control pass-input" size="10" id="pass_@user.Id" value="@user.Password">
                                        </div>
                                        <div class="col-2">
                                            <button type="button" class="btn btn-default button button-save" id="button-save" onclick="ChangePassword(@user.Id)">Сохранить</button>
                                        </div>
                                        <div class="col-2">
                                            <button type="button" class="btn btn-default button button-discard" id="button-discard" onclick="ReloadPage()">Отменить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="col-6 right-part">
                    <div class="add-user-block" id="add-user-block">
                        <form method="POST" action="/Admin/CreateUser">
                            <div class="add-user-block-top">
                                <p>Добавить пользователя</p>
                            </div>
                            <div class="add-user-block-main">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="name-addon">Имя</span>
                                    </div>
                                    <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="name-addon" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="pass-addon">Пароль</span>
                                    </div>
                                    <input name="password" type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="pass-addon" required>
                                </div>
                                <div class="add-user-block-top-footer">
                                    <input type="submit" class="btn btn-default button button-user-add" id="button-user-add" value="Добавить">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="user-contacts" id="user-contacts">

                    </div>
                </div>
              
                    
             
            </div>
            <div class="row">            
                <div class="col-6">
                    <div class="chat-list-to-download">
                        <div class="chat-list-to-download-top">
                            <p>Список чатов</p>
                        </div>
                        <ul>
                            <li>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6 chat-to-download-col">
                                            <div class="chat-to-download">
                                                Chatter 1 
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="chat-to-download chat-to-download-col">
                                                Chatter 2
                                            </div>
                                            </div>
                                        </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/vendor/scripts")
    @Scripts.Render("~/app/admin")
</body>
</html>
