@model List<Messenger.Models.Custom.ChatDataToView>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Messenger</title>
    @Styles.Render("~/Content/Site")
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/Fontawesome")
    @Styles.Render("~/Content/Fontsolid")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-1 text-center padding-10">
                    @ViewBag.Username
                </div>
                <div class="col-2 text-center settings-block padding-10">
                    <div class="btn btn-secondary sound-button" id="sound-button" onclick="SoundClick()">
                        <a href="#" class="sound-link" id="sound-link">
                            Звук вкл.
                        </a>
                    </div>
                </div>
                <div class="col-7 settings-block padding-10">
                    <a href="#" class="header-el" id="chatterName"></a>
                    <div style="display: inline-block; visibility: hidden;" id="lastSeenBlock">
                        <span id="lastSeen"></span>
                    </div>
                </div>
                <div class="col-2 padding-10">
                    <form method="get" action="/Login/Logout" target="_self">
                        <input type="submit" class="btn btn-secondary logout-button" value="Выйти">
                    </form>
                </div>
            </div>
        </div>
        <div class="main-part chatters">
            <div class="row">
                <div class="col-3 no-padding-right">
                    <div id="left-col" class="left-col overflow-90 block-chatter-full">
                        @foreach (var chat in Model)
                        {
                        <div class="block-chatter" id="@chat.ChatId" onclick="ClickOnChat(@chat.ChatId, @chat.Receiver, '@chat.PartnerFullName')">
                           <div class="img-circle-chatter" style="background-color: #@chat.Color;">

                           </div>
                            <span class="name-in-panel"><p class="clip">@chat.PartnerFullName</p></span>
                            @if(chat.Unreaded > 0){
                                <div class="chat-counter" style="visibility: visible;">@chat.Unreaded</div>
                            }
                            else
                            {
                                <div class="chat-counter">@chat.Unreaded</div>
                            }
                        </div>
                        }
                    </div>
                </div>
                <div class="col-9 message-col no-padding-left">
                    <div class="d-flex justify-content-center">
                        <i class="fa fa-spinner fa-spin fa-fw" id="spinner"></i>
                        <span class="sr-only">Загрузка...</span>
                    </div>
                    <div id="right-col" class="overflow-80">
                        <div class="d-flex justify-content-center" id="loadButton">
                            <button class="message-download-button btn btn-primary" onclick="LoadNextMessages()">Загрузить еще</button>
                        </div>
                        <div id="messageBlock">
                            <div class="d-flex justify-content-center">
                                <h3 id="plsSelectLabel">Выберите собеседника, чтобы написать сообщение...</h3>
                            </div>
                        </div>
                    </div>
                    <div class="message-writing text-center">
                        <div class="send-field" id="sendField" style="visibility: hidden;">
                            <form>
                                <div class="container bottom-container">
                                    <div class="row">
                                        <div class="col-8">
                                            <div>
                                                <textarea class="form-control" id="message-area" placeholder="Write a message.."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <label for="file" class="upload-button">Отправить файл</label>
                                            <input type="file" name="file" id="file" onchange="SendFile()" />
                                            <input class="input-inline" id="button-send btn btn-primary" onclick="SendMessage()" type="button" value="Отпр.">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/vendor/scripts")
    @Scripts.Render("~/app/scripts")

    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>

    <script type="text/javascript">
        window.onload = function () {
            window.myId = @ViewBag.MyId;

            var timerId = setInterval(function() {
                var counter = 0;
                $('.chat-counter').each(function (index, value) {
                    counter += +value.textContent;
                    console.log(value.textContent);
                });
                if (counter > 0) {
                    document.title = `(${counter})Новое сообщение!`;
                    setTimeout(function() {
                        document.title = 'Messenger';
                    }, 1500);
                }
            }, 3000);
        };

        window.sound = true;
        
    </script>

</body>
</html>
