@model List<Messenger.Models.Messages>

@foreach (var m in Model)
{
    if (m.Sender == ViewBag.myId)
    {
<div class="message my-message">
    <span class="message-sender">
        @using (var context = new Messenger.Models.MessengerDBEntities())
        {
            @context.Users.FirstOrDefault(u => u.Id == m.Sender).UserName
        }
    </span>

    @if (m.IsReaded == true)
    {
        <span class=""></span>
    }
    else if(m.IsReaded == false)
    {
        <span class="message-unread-circle"></span>
    }

    <span class="message-text">
        <div>
            @Html.Raw(m.Text)
        </div>
    </span>
    <span class="message-time">
        @m.DateTime.ToLocalTime().ToString("HH:mm dd.MM.yyyy")
    </span>
</div>
    }
    else
    {
        <div class="message not-my-message">
            <span class="message-sender">
                @using (var context = new Messenger.Models.MessengerDBEntities())
                {
                    @context.Users.FirstOrDefault(u => u.Id == m.Sender).UserName
                }
            </span>

            @if (m.IsReaded == true)
            {
                <span class=""></span>
            }
            else if(m.IsReaded == false)
            {
                <span class="message-unread-circle"></span>
            }

            <span class="message-text">
                <div>
                    @Html.Raw(m.Text)
                </div>
            </span>
            <span class="message-time">
                @m.DateTime.ToLocalTime().ToString("HH:mm dd.MM.yyyy")
            </span>
        </div>
    }
}
